@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
}

:root {
  --mainColor: #fff;
  --secondaryColor: #1a1a1a;
}

.logo {
}

header {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-size: 0.95rem;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  margin-bottom: 1rem;
}
.nav-links {
  margin: 0 2rem;
  color: var(--secondaryColor);
  text-decoration: none;
}

.nav-links:hover {
  color: gray;
}

.contact-now {
  cursor: pointer;
  margin-left: 5vw !important;
}
.cursor-pointer {
  cursor: pointer;
}

.nav-button-close {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--secondaryColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.2rem;
}
.statistics {
  display: flex;
  justify-content: space-evenly;
}
.statistics-span {
}
.profile-div {
  padding: 1rem;
}
.profile {
  margin-top: 1rem;
}
.profile-text {
  margin-top: 0.5rem;
}
.nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--secondaryColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.2rem;
}

.form {
  margin-top: 1rem;
}
.contact-input {
  margin-bottom: 1rem;
}
.drawer-title {
  text-align: center;
  font-family: 'Karla', sans-serif;
}
.drawer-span-text {
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.15rem;
}
.submit {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 950px) {
  .contact-now {
    margin-left: 0 !important;
  }
  .nav-button-close {
    visibility: visible;
    opacity: 1;
  }
  .nav-button {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    font-size: 1.1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    z-index: 999;
    transition: 0.6s;
    transform: translateY(-100vh);
    flex-direction: column;
  }
  header .responsiveNav {
    transform: none;
  }
  .nav-button-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .contact-now {
    left: 0;
  }

  .nav-links {
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
  }
}
