@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --background: rgba(0, 34, 68, 0.05);
}
.on-large{
  display: none;
}

.tag{
  margin-top: 0.5rem;
}

.top-off-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 0.25rem;
}
.top-off-title {
  /*font-family: 'REM', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1rem;
  color: #1a1a1a;
}
.top-off {
  /*width: 100%;*/
  /*display: flex;*/
}
.box-front {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
  margin-bottom: 1rem !important;
  background-color: transparent;
}
.box-back,
.top-off {
  border-radius: 1.25rem;
  background-color: rgba(0, 34, 68, 0.01);

  /*height: 1rem;*/
}
.top-off {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-offer {
  margin: 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  max-height: 20rem;
}

.top-offer {
  padding: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  background-color: white;
  border-radius: 1rem;
}
.slick-dots.slick-dots-bottom button {
  margin-top: 1.20rem;
  background-color: red !important;
}
.offer-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.05rem;
}

.offer-other{
  font-family: 'Outfit', sans-serif;
}

@media screen and (min-width: 600px) {
  .box-front {
    height: auto !important;
    padding: 1.25rem;
  }

}
@media screen and (min-width: 960px) {

  .on-mobile{
    display: none !important;
  }

  .top-offer {
    margin-left: 25%;
    margin-right: 25%;
  }

  .image-offer {
    width:auto;
    min-width: 80%;
  }
  .image-offer {
    min-height: 15rem;
  }
  .on-large{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;

  }
  .box{
    background-color: rgba(0, 34, 68, 0.0225);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    height: auto;
    max-width: 25rem;
    max-height: 40rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
  .image-offer {
    border-radius: 0.5rem;
    min-height: 20rem;
    max-height: 20rem;
  }
  .offer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tag{
    margin-top: 1.5rem;
  }

  .offer-title{
    margin-bottom: 0.25rem;
  }
  .offer-details{
    margin-bottom: 0.25rem;
  }
}
