.about-us {
  /*color: gray;*/
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner {
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: white;
  width: 95vw;
  margin: 1rem;
  display: flex;
}
.owner-name {
  margin-top: 1.25rem;
}

.owner-detail {
  text-align: center;
  margin: 2rem 0.25rem 2.5rem;
}
.about-avatar {
  margin-top: 1rem;
}

@media screen and (min-width: 950px){

  .owners{
    flex-direction: row;
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
  }
  .owner , .owner2{
    border-radius: 1.5rem;
    flex:1;
  }
}